<template>

  <v-row>
    <v-col>
      <v-dialog
        v-model="isOpen"

        transition="dialog-bottom-transition"
        fullscreen
      >
        <slot :isOpen="getComputed()"></slot>
      </v-dialog>
    </v-col>
  </v-row>

</template>

<script setup lang="ts">
import {computed} from "vue";

const props = withDefaults(defineProps<{
    modelValue: boolean
  }>(),
  {})
const emits = defineEmits<{
  (e: 'update:modelValue', modelValue: boolean): void
}>()

const isOpen = computed<boolean>({
  get() {
    return props.modelValue
  },
  set(newValue: boolean) {
    emits('update:modelValue', newValue)
  }
})

function getComputed() {
  return isOpen
}
</script>

<style scoped>

</style>
