<template>
  <v-card color="background">
    <v-toolbar color="grey-darken-4">
      <v-toolbar-items>
        <v-btn
          icon
          @click="close">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn variant="text" :disabled="!isLoginFormValid || loading" @click="login">
          Login
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-card-text>
      <v-progress-linear indeterminate :active="loading"></v-progress-linear>
      <v-form v-model="isLoginFormValid" @submit.prevent="login">
        <v-row>
          <v-col>
            <v-text-field :rules="[required]" label="Username" v-model="loginForm.username"></v-text-field>
          </v-col>
          <v-col>
            <v-text-field :rules="[required]" label="Password" v-model="loginForm.password"
                          type="password"></v-text-field>
          </v-col>
        </v-row>
        <v-btn type="submit" hidden v-if="isLoginFormValid"></v-btn>
      </v-form>
    </v-card-text>
  </v-card>

  <v-snackbar
    v-model="snackbar"
    timeout="10000"
    color="error"
  >
    {{ snackText }}
  </v-snackbar>
</template>

<script setup lang="ts">
import {reactive, ref} from "vue";
import LoginForm from "@/forms/loginForm";
import axios from "axios";

const emits = defineEmits<{
  (e: 'login'): void,
  (e: 'close'): void
}>()

const isLoginFormValid = ref<boolean>()
const snackbar = ref<boolean>()
const snackText = ref<string>('')
const loading = ref<boolean>(false)

const loginForm = reactive<LoginForm>(new LoginForm())

function required(v: any) {
  return !!v || 'Field is required'
}

function close() {
  emits('close')
  loginForm.username = ''
  loginForm.password = ''
}

async function login() {
  loading.value = true
  const options = {
    method: 'POST',
    url: import.meta.env.VITE_API_URL + '/api/token/',
    headers: {'Content-Type': 'application/json'},
    data: {username: loginForm.username, password: loginForm.password}
  };

  try {
    const response = await axios.request(options)
    localStorage.access = response.data.access
    localStorage.refresh = response.data.refresh
    emits('login')
    close()
  } catch (e: any) {
    if (e.response.status === 401) {
      snackText.value = "Incorrect set of credentials"
    } else {
      snackText.value = e.message
    }

    snackbar.value = true
  }
  loading.value = false

}
</script>

<style scoped>

</style>
