<template>
  <v-card color="background">
    <v-toolbar color="grey-darken-4">
      <v-toolbar-items>
        <v-btn
          icon
          @click="close">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items>
      </v-toolbar-items>
    </v-toolbar>
    <v-progress-linear indeterminate :active="loading"/>
    <v-card-text>
      <v-row>
        <v-col cols="12" md="2" v-for="ingredient of ingredients">
          <v-card color="dark">
            <v-card-title>
              {{ ingredient.name }}
              <v-chip :color="ingredient.ingredient_type === ingredientType.Base ? 'primary' : 'secondary'">{{
                  reverseIngredientType(ingredient.ingredient_type || ingredientType.Base)
                }}
              </v-chip>
            </v-card-title>
            <v-card-subtitle class="flex-wrap d-flex">
              <v-chip size="x-small" class="mr-1 mb-1" v-for="tag in ingredient.tags"
                      :color="tagColorChoices.get(tag.color)">{{ tag.name }}
              </v-chip>
            </v-card-subtitle>
            <v-card-actions>
              <v-btn color="primary" variant="tonal"
                     @click="() => onIngredientUpdateClick(ingredient)">
                update
              </v-btn>
              <v-btn color="error" variant="tonal">delete</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>

    </v-card-text>
  </v-card>

  <base-dialog v-model="dialogOpen">
    <template v-slot="{isOpen}">
      <Suspense>
        <new-word-dialog-form @close="isOpen.value = false" v-if="currentDialog===Dialog.UpdateWord"
                              :tags="tags" :bases="bases"
                              @updated:ingredient="onIngredientUpdated"
                              :ingredient="selectedIngredient"></new-word-dialog-form>
        <template #fallback>
          <fallback-loader @click="isOpen.value = false"/>
        </template>
      </Suspense>
    </template>
  </base-dialog>
</template>

<script setup lang="ts">

import {ref} from "vue";
import {getUserId} from "@/auth/auth";
import TagColorChoices from "@/api/tagColorChoices";
import {User} from "@/models/user";
import {UserConnector} from "@/api/userConnector";
import Ingredient, {IngredientType} from "@/models/ingredient";
import BaseDialog from "@/components/dialogs/baseDialog.vue";
import Tag from "@/models/tag";
import NewWordDialogForm from "@/components/dialogs/newWordDialogForm.vue";
import IngredientConnector, {INGREDIENT_LIST_FIELDS} from "@/api/ingredientConnector";
import FallbackLoader from "@/components/fallbackLoader.vue";

const enum Dialog {
  UpdateWord
}

const userConnector = new UserConnector()
const ingredientConnector = new IngredientConnector()
const tagColorChoices = await TagColorChoices.getInstance()
const ingredientType = IngredientType

const props = withDefaults(defineProps<{
  tags: Array<Tag>,
  bases: Array<Ingredient>,
}>(), {})

const emits = defineEmits<{
  (e: 'close'): void,
}>()

const dialogOpen = ref<boolean>(false)
const currentDialog = ref<Dialog>()
const loading = ref<boolean>(true)
const selectedIngredient = ref<Ingredient>()

const userId = User.encodeId(getUserId())
const ingredients = (await userConnector.retrieve(`
  query {
    user(id: "${userId}"){
        ingredientSet {
          edges{
            node{
              ingredientType
                id
                name
                tags{
                    edges {
                        node {
                            color
                            name
                        }
                    }
                }
              }
            }
        }
    }
  }
`)).ingredient_set

function reverseIngredientType(type: IngredientType): string {
  let result = Object.entries(IngredientType).find((entry: any) => entry[1] === type)
  if (result) {
    return result[0]
  }
  return ''
}

function close() {
  emits('close')
}

function onIngredientUpdated(ingredient: Ingredient) {

}

async function onIngredientUpdateClick(ingredient: Ingredient) {

  selectedIngredient.value = await ingredientConnector.retrieve(`query{
    ingredient(id: "${ingredient.id}"){
      ${INGREDIENT_LIST_FIELDS}
      ingredientType
      alt{
        id
        name
      }
      bases{
        edges{
          node{
            id
            name
          }
        }
      }
    }
  }`)

  currentDialog.value = Dialog.UpdateWord;
  dialogOpen.value = true;
}

loading.value = false
</script>

<style scoped>

</style>
