<template>
  <v-card color="background">
    <v-toolbar color="grey-darken-4">
      <v-toolbar-items>
        <v-btn
          icon
          @click="emits('close')">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items>
      </v-toolbar-items>
    </v-toolbar>
    <v-card-text>
      <v-progress-linear indeterminate/>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
const emits = defineEmits<{
  (e: 'close'): void,
}>()
</script>

<style scoped>

</style>
