<template>
  <v-card>
    <v-progress-linear model-value="20" indeterminate :active="loader"></v-progress-linear>
    <div v-if="ingredient">
      <v-img
        v-if="img"
        height="200"
        :src="booruPic"
        cover
        class="text-white"
        @click="fullPic = !fullPic"
      >
        <v-list-item link height="100%"></v-list-item>
      </v-img>

      <v-card-title style="text-transform: capitalize">
        {{ ingredient.name }}
      </v-card-title>
      <v-card-subtitle>
        created by: {{ ingredient.created_by?.username }}<br/>
        <v-chip size="x-small" v-for="tag of ingredient.tags" :key="tag.id" :color="tagColorChoices.get(tag.color)">{{ tag.name }}
        </v-chip>
      </v-card-subtitle>
      <v-card-text>
        <div v-html="marked.parse(ingredient.definition || '')"></div>
        <h2>examples:</h2>
        <p v-html="marked.parse(ingredient.examples || '')"></p>
      </v-card-text>
      <v-card-actions>
        <h2>alts:</h2>
        <v-chip v-for="alt in ingredient.alts" v-on:click="() => onAltClick(alt)">
          {{ alt.name }}
        </v-chip>
      </v-card-actions>
    </div>
    <div v-else>
      <v-card>
        <v-card-text>
          start by selecting a base
        </v-card-text>
      </v-card>
    </div>
  </v-card>

  <v-dialog
    v-model="fullPic"
  >
    <v-card>
      <v-toolbar>
        <v-btn
          icon
          @click="fullPic = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-img :src="booruPic" width="50%" class="mx-auto"></v-img>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import {marked} from 'marked'
import axios from "axios";
import {computed, ref, watch} from "vue";

import Ingredient from "@/models/ingredient";
import TagColorChoices from "@/api/tagColorChoices";

marked.setOptions({
  breaks: true
})

const props = withDefaults(defineProps<{
  img?: boolean,
  imgTags?: string[],
  nsfw?: boolean,
  loader?: boolean
  ingredient: Ingredient,
}>(), {
  loader: false,
  img: false,
  nsfw: false
})

const emit = defineEmits<{
  (e: 'click:alt', alt: Ingredient): void,
}>()

const tagColorChoices = await TagColorChoices.getInstance()
const fullPic = ref<boolean>(false)
const _booruPic = ref<string>()

function onAltClick(alt: Ingredient) {
  emit('click:alt', alt)
}

const booruPic = computed(() => {
  const nsfwPic = 'https://cdn.shopify.com/s/files/1/0025/8467/4417/files/stefan-ivanov-cheXIALO9j0-unsplash-min.jpg?v=1580913196'
  return !props.nsfw ? _booruPic.value || nsfwPic : nsfwPic
})

async function getBooruPic() {
  if (import.meta.env.VITE_NSFW)
    return ''
  const options = {
    url: 'https://e621.net/posts.json',
    params: {limit: '1', tags: props.imgTags?.join(' ')}
  };

  let result = await axios.get(options.url, {
    params: options.params
  })
  return result.data.posts[0]?.sample.url
}

if (props.img && props.ingredient) {
  _booruPic.value = await getBooruPic()
  watch(() => props.ingredient, async () => {
    _booruPic.value = await getBooruPic()
  })
}


</script>

<style scoped>

</style>
