<template>
  <v-row>
    <v-col>
      <v-app-bar>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-app-bar-title>Awful soup BETA</v-app-bar-title>
        <v-spacer></v-spacer>
        <div class="mt-1 mr-4 ml-2">
          <v-switch label="NSFW" v-model="enableNSFW"></v-switch>
        </div>

      </v-app-bar>
      <v-navigation-drawer
        v-model="drawer"
        temporary
      >
        <v-list>
          <div v-if="!logged">
            <v-list-item @click="currentDialog = Dialog.Login; dialogOpen = true">Login
              <template v-slot:prepend>
                <v-icon icon="mdi-login"></v-icon>
              </template>
            </v-list-item>
          </div>
          <div v-else>
            <v-list-item @click="currentDialog = Dialog.MyWords; dialogOpen = true" class="text-primary">My words
              <template v-slot:prepend>
                <v-icon icon="mdi-content-save-edit"></v-icon>
              </template>
            </v-list-item>
            <v-list-item @click="currentDialog = Dialog.NewWord; dialogOpen = true" class="text-secondary">Add word
              <template v-slot:prepend>
                <v-icon icon="mdi-content-save-plus"></v-icon>
              </template>
            </v-list-item>
            <v-list-item @click="logout" class="text-error">Logout
              <template v-slot:prepend>
                <v-icon icon="mdi-logout"></v-icon>
              </template>
            </v-list-item>
          </div>
        </v-list>
      </v-navigation-drawer>
    </v-col>
  </v-row>
  <v-row>
    <v-col cols="12" sm="4">
      <v-autocomplete variant="solo" v-model="_selectedBase" :items="bases" item-title="name" placeholder="Base"
                      item-value="id" :custom-filter="basesFilter">
        <template v-slot:prepend-inner>
          <v-icon icon="mdi-magnify"></v-icon>
        </template>
        <template v-slot:item="{ props, item }">
          <v-list-item v-bind="props">
            <template v-slot:subtitle>
              <v-chip size="x-small" v-for="tag of item.raw.tags" :color="tagColorChoices.get(tag.color)">{{
                  tag.name
                }}
              </v-chip>
            </template>
          </v-list-item>
        </template>
      </v-autocomplete>

      <word-card :ingredient="selectedBase" @click:alt="(alt: Ingredient) => _selectedBase = alt.id"
                 v-if="selectedBase"/>
      <div v-else>
        <v-card>
          <v-card-text>
            start by selecting a base
          </v-card-text>
        </v-card>
      </div>

    </v-col>
    <v-col cols="12" sm="4">
      <v-autocomplete variant="solo" v-model="ingredientsQuery" :items="tags" item-title="name"
                      placeholder="Ingredient tags"
                      item-value="id" :disabled="!selectedBase" chips closable-chips multiple
                      :custom-filter="tagsFilter">
        <template v-slot:prepend-inner>
          <v-icon icon="mdi-magnify"></v-icon>
        </template>
        <template v-slot:chip="{props, item}">
          <v-chip :color="tagColorChoices.get(item.raw.color)" v-bind="props">#{{ item.title }}</v-chip>
        </template>
        <template v-slot:item="{props, item}">
          <v-list-item v-bind="props">
            <template v-slot:title>
              <v-chip :color="tagColorChoices.get(item.raw.color)">#{{ item.title }}</v-chip>
            </template>
          </v-list-item>
        </template>
      </v-autocomplete>
      <v-card min-height="10%">
        <v-card-text v-if="!ingredients?.length">
          nothing here but <s>degenerate</s> furries
        </v-card-text>
        <v-progress-linear model-value="20" v-else indeterminate :active="ingredientLoading"></v-progress-linear>
        <v-card-item>
          <v-row>
            <v-col cols="6" v-for="ingredient of ingredients" :key="ingredient.id">
              <v-btn variant="outlined" block @click="loadIngredient(ingredient.id)">{{ ingredient.name }}</v-btn>
              <v-row>
                <v-col>
                  <v-chip size="x-small" v-for="tag of ingredient.tags" :key="tag.id"
                          :color="tagColorChoices.get(tag.color)">{{
                      tag.name
                    }}
                  </v-chip>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card-item>
      </v-card>
    </v-col>
    <v-col cols="12" sm="4">
      <word-card img :ingredient="selectedIngredient" :nsfw="enableNSFW"
                 :img-tags="[selectedBase?.name, selectedIngredient?.name]"
                 :loader="selectedIngredientLoading"></word-card>
    </v-col>
  </v-row>
  <base-dialog v-model="dialogOpen">
    <template v-slot="{isOpen}">
      <Suspense>
        <login-dialog-form @close="isOpen.value = false" @login="logged = true"
                           v-if="currentDialog===Dialog.Login"></login-dialog-form>
        <template #fallback>
          <fallback-loader @close="isOpen.value=false"/>
        </template>
      </Suspense>
      <Suspense>
        <new-word-dialog-form @close="isOpen.value = false" v-if="currentDialog===Dialog.NewWord"
                              :tags="tags" :bases="bases"
                              @created:ingredient="onIngredientCreated"></new-word-dialog-form>
        <template #fallback>
          <fallback-loader @close="isOpen.value=false"/>
        </template>
      </Suspense>
      <Suspense>
        <my-words-dialog-form @close="isOpen.value = false" v-if="currentDialog===Dialog.MyWords"
                              :tags="tags" :bases="bases">
        </my-words-dialog-form>
        <template #fallback>
          <fallback-loader @close="isOpen.value=false"/>
        </template>
      </Suspense>
    </template>
  </base-dialog>
</template>

<script setup lang="ts">
import {computed, ref, watch} from "vue";
import IngredientConnector, {INGREDIENT_DETAILS_FIELDS, INGREDIENT_LIST_FIELDS} from "@/api/ingredientConnector";
import Ingredient, {IngredientType} from "@/models/ingredient";
import TagConnector, {TAG_LIST_FIELDS} from "@/api/tagConnector";
import WordCard from "@/components/wordCard.vue";
import TagColorChoices from "@/api/tagColorChoices";
import LoginDialogForm from "@/components/dialogs/loginDialogForm.vue";
import {isAuth} from "@/auth/auth";
import BaseDialog from "@/components/dialogs/baseDialog.vue";
import NewWordDialogForm from "@/components/dialogs/newWordDialogForm.vue";
import MyWordsDialogForm from "@/components/dialogs/myWordsDialogForm.vue";
import FallbackLoader from "@/components/fallbackLoader.vue";

enum Dialog {
  Login,
  NewWord,
  MyWords
}

const tagColorChoices = await TagColorChoices.getInstance()

const ingredientConnector = new IngredientConnector()
const tagConnector = new TagConnector()

const _selectedBase = ref<string>()
const ingredients = ref<any>()
const selectedIngredient = ref<any>()
const ingredientsQuery = ref<Array<string>>()
const ingredientLoading = ref(false)
const selectedIngredientLoading = ref(false)
const enableNSFW = ref<boolean>(Boolean(import.meta.env.VITE_NSFW))
const logged = ref<boolean>(await isAuth())
const drawer = ref<boolean>()

const dialogOpen = ref<boolean>(false)
const currentDialog = ref<Dialog>()

const bases = ref(await ingredientConnector.list(`
query {
  allIngredients(ingredientType: ${IngredientType.Base}){
    edges{
      node{
        ${INGREDIENT_LIST_FIELDS}
      }
    }
  }
}`))
const tags = ref((await tagConnector.list(`
query {
    allTags{
      edges{
        node{
          ${TAG_LIST_FIELDS}
        }
      }
    }
}
`)))

const selectedBase = computed(() => {
  return bases.value.find((base: any) => base.id === _selectedBase.value)
})

function tagsFilter(value: string, query: string, item: any) {
  if (tagColorChoices.get(item.raw.color)) {
    return item.title.startsWith(query.split('#')[0])
  } else {
    return item.title.startsWith(query)
  }
}

function basesFilter(value: string, query: string, item: any) {
  return query.split(' ').every((i: any) => {
    if (i.startsWith('#')) {
      return item.raw.tags.find((tag: any) => {
        return ('#' + tag.name).startsWith(i)
      })
    } else {
      return item.title.startsWith(i)
    }
  })
}

function logout() {
  localStorage.removeItem('access')
  localStorage.removeItem('refresh')
  logged.value = false
  drawer.value = false
}

async function loadIngredient(id: number) {
  selectedIngredientLoading.value = true
  let ingredient = await ingredientConnector.retrieve(`query {
    ingredient(id: "${id}"){
      ${INGREDIENT_DETAILS_FIELDS}
}`)

  selectedIngredient.value = ingredient

  selectedIngredientLoading.value = false
}

function onIngredientCreated(ingredient: Ingredient) {
  if (ingredient.ingredient_type === IngredientType.Base) {
    bases.value = [...bases.value, ingredient]
  }
  drawer.value = false
}

watch(selectedBase, async (newBase) => {
  ingredientLoading.value = true
  ingredients.value = (await ingredientConnector.retrieve(`query {
                        ingredient(id: "${(selectedBase.value as Ingredient)?.id}"){
                            ingredients{
                                edges {
                                    node {
                                        name
                                        id
                                        tags{
                                            edges {
                                                node {
                                                    id
                                                    name
                                                    color
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }`)).ingredients
  ingredientLoading.value = false
})
watch(ingredientsQuery, async (newQuery) => {
  let filter = `(tags_In: "${newQuery?.map((item: string) => atob(item).split(':')[1]).join('')}")`
  ingredients.value = new Set((await ingredientConnector.retrieve(`query {
    ingredient(id: "${(selectedBase.value as Ingredient).id}"){
        ingredients${newQuery?.length ? filter : ''}{
            edges {
                node {
                    name
                    id
                    tags{
                        edges {
                            node {
                                id
                                name
                                color
                            }
                        }
                    }
                }
            }
        }
    }
}`)).ingredients)
})

</script>

<style scoped>

</style>
